/* adding one style for everything cuz confusion otherwise */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

:root {
    font-size: 100%;
    letter-spacing: 0.1em;
    --title-color: 	#ffbf00;
    --tab-fnt-color: #fff;
    --main-bg: #f2f2f2;
    --header-bg: rgba(0,0,0,0.8);
    --yellow: #FFC60B;
    --mud: #c59d5f;
    --card-bg: rgba(255, 255, 255, 0.4);
}

body, #content {
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

/* --------------------- UTILITY -----------------------*/
.card {
    padding: 1em;
    outline: 1px solid var(--title-color);
    box-shadow: var(--title-color) 0px 5px 15px;
    background-color: var(--card-bg);
}


/* --------------------- HEADER -----------------------*/
.header {
    padding: 0.5em;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    background-color: var(--header-bg);
}

.header__tab {
    padding: 0.2em 0.4em;
    color: var(--tab-fnt-color);
    font-weight: bold;
    /* cursor: pointer; */
}

.header__tab:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    color: var(--title-color);
    border-radius: 5px;
    transform: scale(1.05);
}

/* ---------------------- Main --------------------- */
main {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: clamp(350px, 70%, 70%);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* ---------------------- Home --------------------- */
.home {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.home__title {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding: 0.3em;
    border-bottom: 2px solid var(--title-color);;
} 

.home h1,.home h2 {
    text-align: center;
}

/* ---------------------- MENU --------------------- */
.menu__title {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding: 0.3em;
    border-bottom: 2px solid var(--title-color);
}

.menu .menu__items {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.menu__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}


.menu__item-name {
    color: var(--mud);
}

.menu__item-price {
    font-weight: bold;
}

.menu__item-desc {
    font-style: italic;
}


/* ---------------------- ABOUT --------------------- */
.about {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.about__title-main {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding: 0.3em;
    border-bottom: 2px solid var(--title-color);
}

.about__title {
    text-align: center;
    color: var(--title-color);
}

.about .card p {
    padding: 0.8em;
}



/* ---------------------- FOOTER --------------------- */
.footer {
    padding: 0.5em;
    margin-top: auto;
    text-align: center;
    background-color: var(--header-bg)
}